body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    margin-bottom: 20px;
}

.controls {
    margin-bottom: 20px;
}

.controls label, .controls input, .controls button {
    margin-right: 10px;
}

#info {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 20px;
    font-size: 18px;
}

.tabs {
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.tab-button:focus, .tab-button.active {
    outline: none;
    border-color: #333;
    background-color: #ddd;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, 100px); /* Adjusted for 4x5 grid */
    gap: 10px;
    margin-bottom: 20px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.card .front,
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .front {
    background-color: #fff;
    color: #333;
    transform: rotateY(180deg);
}

.card .front .hanja {
    font-size: 50px; /* 카드 크기의 50% */
}

.card .front .meaning {
    font-size: 20px; /* 카드 크기의 20% */
}

.card .back {
    background-color: #333;
    color: #333; /* 같은 색으로 보이지 않게 */
    transform: rotateY(0deg);
}

.card.flip .front {
    transform: rotateY(0deg);
}

.card.flip .back {
    transform: rotateY(180deg);
}

#start-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
